<ul class="pagination">
    <li><a href="/?page={{prevPage}}">Prev</a></li>
    <li><a href="/?page=1">...</a></li>
    <li><a href="/?page={{prevPage}}">{{prevPage}}</a></li>
    <li><a class="active" href="/?page={{currentPage}}">{{currentPage}}</a></li>
    <li><a href="/?page={{nextPage}}">{{nextPage}}</a></li>
    <li><a href="/?page={{lastPage}}">...</a></li>
    <li><a href="/?page={{nextPage}}">Next</a></li>
</ul>