
{{#if featured}}
<article class="card card-tertiary card-vertical">
  <h2 class="card-title">FEATURED</h2>
  {{!-- replace with product img url --}}
  <img class="card-image" onError="this.onerror=null; this.src='images/default-image.png'" src={{image_link}} />
  <button class="button-primary button-round add-wishlist" data-productid={{id}}>Wishlist</button>
  <button class="button-info button-round show-modal" data-productid={{id}}>Review</button>
  <div class="card-info">
    <a href="/products/{{id}}">
      <h2 class="card-title"></h2>{{name}}</h2>
    </a>
    <h6>Rating: {{int_rating_avg}}</h6>
    {{!-- replace with product description --}}
    <p>{{{description}}}</p>
  </div>
</article>
{{else}}
<article class="card">
  <div class="card-left">
    {{!-- replace with product img url --}}
    <img class="card-image" onError="this.onerror=null; this.src='images/default-img.png'" src={{image_link}} />
    <button class="button-info button-round add-wishlist" data-productid={{id}}>Wishlist</button>
    <button class="button-info button-round show-modal" data-productid={{id}}>Review</button>
  </div>
  <div class="card-info">
      <h2 class="card-title" >{{name}}</h2>
      <h6>Brand: {{brand}}</h6>
      <h6>Price: ${{price}}</h6>
      <h6>Average Rating: {{int_rating_avg}}</h6>
    <div class="card-text">
      <p>{{{description}}}</p>
    </div>
  </div>
</article>
{{/if}}


    


