
{{#if featured}}
<article class="card card-tertiary card-vertical">
  <h2 class="card-title">FEATURED</h2>
  {{!-- replace with product img url --}}
  <img class="card-image" src={{image_link}}  />
  <button class="button-primary button-round add-wishlist">Wishlist</button>
  <button class="button-info button-round show-modal" id={{id}}>Review</button>
  <div class="card-info">
    <a href="/products/{{id}}">
      <h2 class="card-title"></h2>{{int_name}}</h2>
    </a>
    <h6>Rating: *****</h6>
    {{!-- replace with product description --}}
    <p>{{{description}}}</p>
  </div>
</article>
{{else}}
<article class="card">
  <div class="card-left">
    {{!-- replace with product img url --}}
    <img class="card-image" src={{image_link}} />
    <button class="button-info button-round add-wishlist" id={{id}}>Wishlist</button>
    <button class="button-info button-round show-modal" id={{id}}>Review</button>
  </div>
  <div class="card-info">
    <a href="/products/{{id}}">
      <h2 class="card-title" >{{name}}</h2>
    </a>
    <h6>Rating: {{rating}}</h6>
    <p>{{{description}}}</p>
    <p>{{rating_commentary}}</p>
  </div>
</article>
{{/if}}


    


