{{#each this}}
<li>{{int_name}}</li>
<article class="card card-vertical">
    {{!-- replace with product img url --}}
    <div class="card-info">
        <a href="/products/{{id}}">
            <h2 class="card-title"></h2>{{int_name}}</h2>
        </a>
        <img class="card-image" src={{image_link}} />
        <p>{{description}}</p>
    </div>
    <button class="button-primary button-round add-wishlist">Wishlist</button>
</article>
{{/each}}